
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(0, 0, 20);
            color: white;
            font-weight: 600;

        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 71px;
            background-color: rgb(8, 8, 74);
        }

        nav ul {
            display: flex;
            justify-content: center;

        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

        nav ul a {
            text-decoration: none;
            color: white;
        }

        nav ul a:hover {
            color: rgb(120, 120, 180);
            font-size: 1.02rem;
        }

        main hr {
            border: 0;
            background: violet;
            height: 1.2px;
            margin: 60px 84px;
        }

        h1 {
            margin-top: 10px;
        }

        .secondsection h1 {
            font-size: 1.9rem;
        }

        .right {
            font-size: 1.4rem;
        }

        .firstsection {
            display: flex;
            justify-content: space-around;
            margin: 130px 0;
            align-items: center;
            margin: ;
        }

        .firstsection>div {
            width: 40%;

        }

        .leftsection {

            font-size: 3rem;


        }

        .leftsection .buttons {
            padding: 50px 0;
        }

        .leftsection .btn {
            padding: 12px;
            background: #1e2167;
            color: white;
            border: 2px solid white;
            border-radius: 6px;
            font-size: 20px;
            cursor: pointer;
        }

        .rightsection img {
            width: 80%;
            margin: 0px 0;
        }

        .purple {
            color: skyblue;
        }

        #element {
            color: aquamarine;
        }

        .secondsection {
            max-width: 80vw;
            margin: auto;
            height: 80vh;
        }

        .text-gray {
            color: grey;
        }

        .secondsection .box1 {
            background: white;
            width: 80vw;
            height: 2px;
            margin: 56px 0;
            display: flex;
        }

        .secondsection .vertical {
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 100px;
        }

        .java-top {
            width: 23px;
            position: relative;
            top: -32px;
            left: -9px;
        }

        .vertical-title {
            position: relative;
            top: 75px;
            width: 150px;

        }

        .vertical-desc {
            position: relative;
            top: 86px;
            color: grey;
            width: 150px;
            font-size: 9px;
        }

        footer {
            background-color: #0e0e1a;

        }

        .footer {
            display: flex;
            padding: 23px 122px;
            justify-content: space-evenly;
        }

        .footer ul {
            list-style: none;
        }

        .footer>div {
            width: 180px;
        }

        footer .footer-rights {
            text-align: center;
            color: grey;
            padding: 12px 0;
        }
